.delete-modal {
    width: 40%;
    height: 300px;
    background-color: white;
    border-color: 1px solid black;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 10px 8px 24px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 8px 24px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 8px 24px -8px rgba(0,0,0,0.75);
}

.delete-modal svg{
    color: #f70776;
    font-size: 40px;
    margin-top: 30px;
}

.delete-text {
    margin: 20px 0;
}

.delete-text p {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.noShow {
    display: none;
}

p {
    color: #5c636e;
}

.yes {
    background-color: #f70776;
    border: none;
    color: #ffffff;
    padding: 20px 60px;
    border-radius: 10px;   
    cursor: pointer;
}

.no {
    background-color: #ffffff;
    border: 1px solid #f70776;
    color: #f70776;
    padding: 20px 60px;
    border-radius: 10px;   
    margin-left: 20px;
    cursor: pointer;
}

@media (max-width: 700px){
    .delete-modal {
        width: 70%;
    }

    .yes {
        padding: 10px 20px;
    }
    .no {
        padding: 10px 20px;
    }

    .delete-text p {
        width: 230px;
    }
  }

  @media (min-width: 701px) {
    .delete-modal {
        width: 60%;
    }
  }